<app-header></app-header>
<div style="background-color: #E5E5E5; height: 1000px; padding-top: 200px; padding-left: 50px">
  <div class="header">
  <h1 class="hh">Корзина</h1>
  <p><img src="https://i.imgur.com/FkiYEk3.png" alt="" class="line"></p>
    <div class="args">
      <span class="price">Вартість</span>
      <span class="cols">Кількість</span>
      <span class="sum">Сумма</span>
    </div>
  </div>
  <div id="cart-items" class="itm">
    <app-item></app-item>
    <app-item></app-item>
  </div>
</div>
<app-footer></app-footer>
