<div style="background-color: #E5E5E5; height: 2900px">
<app-header></app-header>
<div class="all">
  <input checked type="radio" name="respond" id="desktop">
  <article id="slider">
    <input checked type="radio" name="slider" id="switch1">
    <input type="radio" name="slider" id="switch2">
    <input type="radio" name="slider" id="switch3">
    <input type="radio" name="slider" id="switch4">
    <input type="radio" name="slider" id="switch5">
    <div id="slides">
      <div id="overflow">
        <div class="image">
          <article><img src="https://i.imgur.com/7mZLWSV.png"></article>
          <article><img src="https://i.imgur.com/7mZLWSV.png"></article>
          <article><img src="https://i.imgur.com/7mZLWSV.png"></article>
          <article><img src="https://i.imgur.com/7mZLWSV.png"></article>
          <article><img src="https://i.imgur.com/7mZLWSV.png"></article>
        </div>
      </div>
    </div>
    <div id="controls">
      <label for="switch1"></label>
      <label for="switch2"></label>
      <label for="switch3"></label>
      <label for="switch4"></label>
      <label for="switch5"></label>
    </div>
    <div id="active">
      <label for="switch1"></label>
      <label for="switch2"></label>
      <label for="switch3"></label>
      <label for="switch4"></label>
      <label for="switch5"></label>
    </div>
  </article>
  <h1 class="hh">Сама еффектна їжа</h1>
  <p class="pp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh faucibus quis facilisis consectetur volutpat in id dui. Vel mi sapien sed risus, at dictumst aenean risus. Mollis quis volutpat cursus porttitor risus, enim. Velit sit pellentesque ultrices sapien, accumsan, quis et sed feugiat. Nisl, turpis egestas viverra rutrum pellentesque egestas fermentum lorem. Integer nisl massa laoreet gravida convallis nulla. Nisi, netus integer habitant consectetur vitae eget sit eleifend. Vel est enim, fringilla non id augue sed ac sagittis. Sagittis, viverra sagittis tristique in accumsan a */</p>
  <h1 class="hh2">Чому ми?</h1>
  <p class="pp2">/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh faucibus quis facilisis consectetur volutpat in id dui. Vel mi sapien sed risus, at dictumst aenean risus. Mollis quis volutpat cursus porttitor risus, enim. */</p>
  <h1 class="hh3">Доставка</h1>
  <h1 class="hh4">Де ми?</h1>
  <p class="pp3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh faucibus quis facilisis consectetur volutpat in id dui. Vel mi sapien sed risus, at dictumst aenean risus. Mollis quis volutpat cursus porttitor risus, enim. </p>
  <h1 class="hh5">Контакти</h1>
  <p><img src="https://i.imgur.com/BwuY56j.png" alt="" class="img1" ></p>
  <p><img src="https://i.imgur.com/BwuY56j.png" alt="" class="img2" ></p>
  <p><img src="https://i.imgur.com/fJ4SSEb.png" alt="" class="img3" ></p>
  <p class="facebok">+ 38 (099) 000-00-00</p>
  <p class="ut">mail.example@gmail.com</p>
  <p class="inst">+ 38 (099) 000-00-00</p>
  <p class="facebok1">www.facebook.com</p>
  <p class="ut1">www.youtub.com</p>
  <p class="inst1">www.instagram.com</p>
  <p><img src="https://i.imgur.com/P2pQbXM.png" alt="" class="img4" ></p>
  <p><img src="https://i.imgur.com/aC705BT.png" alt="" class="img5" ></p>
  <p><img src="https://i.imgur.com/PGxG8lw.png" alt="" class="img6" ></p>

  <div class="block1"></div>
  <div class="block2"></div>
</div>
</div>
<app-footer></app-footer>
