.carousel-indicators li {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}
.active
{
    background-color: red;
}
.carousel-item
{
    background-color: transparent;
}

.mycard
{
  margin-left: 50px;
  background-color: #da3636;
 border-radius: 12%;
 width: 60%;
 height: 20%;
}
.outcard
{
  background-color: transparent;
  border: none;
}
div
{
  margin-top: 30px;
}
.mybtn
{
  width: 160px;
  height: 60px;
}
.fbimg
{
  width: 28px;
  height: 28px;
}



